PORT=8000
DB_LOCAL_URI=mongodb://localhost:27017/food-order
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=90d
JWT_EXPIRES_TIME=90

EMAIL_HOST=smtp.example.com
EMAIL_PORT=2525
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=noreply@example.com

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET_KEY=
STRIPE_API_KEY=
GROQ_API_KEY=
FRONTEND_URL=http://localhost:5173
NODE_ENV=DEVELOPMENT
